body{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
}
#header{
	border-bottom: .0625rem solid #d1d3d4;
	z-index: 200;
}
.main-navigation{
	background-color: #F7F9F9;
	height: 5rem;
}
.main-navigation img{
	height: 50px;
	width: 200px;
	margin: 0;
    position: absolute;
    top: 6.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.catalog{
	
	position: relative;
	width: 100%;
	
}
.catalog-listing {
    height: 269px;
    background-color: #F7F9F9;
    width: 736px;
    margin-left: 20%;
    cursor: pointer;
    border-style: solid;
    border-color: #F7F9F9;
    z-index: 1;
    margin-top: 10px;
    position: relative;
}
.catalog-listing:hover{
	border-color: #006FC1;
	border-style: solid;
    cursor: pointer;
}
.catalog-img {
    height: 239px;
    width: 239px;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 15px;
    background-size: cover;
    background-repeat: round;
}
i.fa.fa-map-marker {
    margin-right: 8px;
}
h3.catalog-item {
    margin-left: 273px;
}
h4.catalog-item-price {
    margin-top: -74px;
    margin-left: 592px;
    position: absolute;
}
p.catalog-listing-item-location {
    margin-left: 275px;
    color: #797D7F;
}
.catalog-description {
    font-size: .75rem;
    width: 458px;
    height: 42px;
    margin-left: 272px;
    margin-top: 38px;
    line-height: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.pagination{
    margin-top: 20px;
    margin: 0 auto;
    width: 736px;
    height: 150px;
    position: relative;

}
.pagination2{
    width: 736px;
    margin: 0 auto;
    margin-bottom: 36px;

}
.page {
    display: inline-block;
    padding: 5px 9px;
    margin-right: 4px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-transform: capitalize;
}
 .active, .active:hover{
    background: #006FC1;
    border-color: #006FC1;
    color: #fff;
    cursor: default;
}
.previus{
    height: 39px;
    width: 140px;
    font-size: 13px;
    font-family: font91731;
    cursor: pointer;
}
.next{
    cursor: pointer;
    height: 39px;
    width: 140px;
    background-color: #006FC1;
    color: #fff;
    font-size: 13px;
    border: none;
    font-family: font91731;
    float: right;

}
.footer{
	background-color: #212F3D;
	height: 10rem;
}
.app{
    margin-left: 40%;
}
.app img{
    height: 40px;
    border-radius: 10px;
}
.footer-img img{
	margin-top: 20px;
    margin-left: 17px;
}
.footer .center{
    text-align: center;
    color: #fff;
}